{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Category'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Category</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Image</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.image }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.name }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.description }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Status</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.status }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ordering</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.ordering }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Datecreated</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.dateCreated|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Dateupdated</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Parentid</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.parentId }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('category') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('category_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}